.transactionHistory {
border: 3px solid darkgray;
max-width: 600px;
margin: 20px auto;
border-collapse: collapse;
font-size: 18px;
color: darkgray;
display: flex;
flex-direction: column;

}

& th,
& td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid darkgray;
    width: 140px;
}
& th {
    background-color: #05bcd5;
    color: white;
    font-weight: bold;
    border: 1px solid darkgray;
}

& tr:nth-child(even) {
    background-color: #f2f2f2;
}

& td {
    border: 1px solid darkgray;
}



